In [4]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('Test Data/water_mass.csv')

# add 40 to the Angle from horizontal column
df['Angle from horizontal (deg)'] = df['Angle from horizontal (deg)'] + 40

# divide x distance by 1000 to get m
df['x distance from COM (m)'] = df['x distance from COM (mm)'] / 1000

# remove Torque column
df = df.drop(columns=['Torque'])

df['Torque (Nm)'] = df['Mass of water (kg)'] * df['x distance from COM (m)']

df.head(20)

,Angle from horizontal (deg),Mass of water (kg),x distance from COM (mm),x distance from COM (m),Torque (Nm)
0,0,7.18,194.71,0.19471,1.398018
1,5,11.31,195.32,0.19532,2.209069
2,10,16.14,205.77,0.20577,3.321128
3,15,15.11,236.44,0.23644,3.572608
4,20,11.95,263.42,0.26342,3.147869
5,25,9.52,279.68,0.27968,2.662554
6,30,7.54,288.80,0.28880,2.177552
7,35,5.88,291.42,0.29142,1.713550
8,40,4.46,288.01,0.28801,1.284525
9,45,3.21,278.87,0.27887,0.895173
10,50,0.35,239.06,0.23906,0.083671

In [6]:
# convert the first column from degrees to radians
df['theta'] = df['Angle from horizontal (deg)'] * np.pi/180
df.head(20)

,Angle from horizontal (deg),Mass of water (kg),x distance from COM (mm),Torque,theta
0,-40,7.18,194.71,1398.0178,-0.698132
1,-35,11.31,195.32,2209.0692,-0.610865
2,-30,16.14,205.77,3321.1278,-0.523599
3,-25,15.11,236.44,3572.6084,-0.436332
4,-20,11.95,263.42,3147.8690,-0.349066
5,-15,9.52,279.68,2662.5536,-0.261799
6,-10,7.54,288.80,2177.5520,-0.174533
7,-5,5.88,291.42,1713.5496,-0.087266
8,0,4.46,288.01,1284.5246,0.000000
9,5,3.21,278.87,895.1727,0.087266
10,10,0.35,239.06,83.6710,0.174533